.faq{
    .container{
        flex-direction: column;
        padding: 96px 12px 80px 12px;
        width: 66.6%;
        margin-left: 0;
        @include pad(){
            padding: 80px 36px;
            margin: 0 auto;
            width: 100%;
        }
        @include mobile(){
            padding: 40px 14px;
        }
    }
    p{
        font-size: $fs24;
        font-weight: 700;
    }
    .faq-list{
        display: flex;
        flex-direction: column;
        gap: 32px 0;
    }
    .faq-q{
        font-size: $fs20;
        font-weight: 700;
        margin-bottom: 8px;
    }
    .faq-a{
        font-size: $fs16;
        font-weight: 400;
    }
}