.header{
    background-color: $primary;
    .container{
        justify-content: space-between;
        align-items: center;
        padding: 0 12px;
        position: relative;
        @include pad(){
            padding: 0 36px;
        }
        @include mobile(){
            padding: 0 0 0 14px;
            flex-direction: column;
            align-items: flex-start;
        }
    }
    .logo{
        display: block;
        width: 80px;
        height: 50px;
        background-image: url(../images/logo-new_@2x.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        @include hide-text;
    }
    .nav-list{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @include mobile(){
            width: 100%;
            position: absolute;
            left: 0;
            top: 100%;
            overflow: hidden;
            max-height: 0px;
            transition: all 0.8s;
            z-index: 120;
        }
        li{
            @include mobile(){
                width: 100%;
            }
        }
        a{
            display: block;
            color: $white;
            font-size: $fs20;
            padding: 10px 0 10px 0;
            margin-left: 64px;
            // transition: 0.6s ease;
            @include mobile(){
                width: 100%;
                margin-left: 0;
                background-color: $primary;
            }
            &:hover{
                color: rgb(255, 184, 184);
            }
        }
    }
    .nav-list.active{
        @include mobile(){
            max-height: 800px;
        }
    }
    .ham-icon{
        display: none;
        position: absolute;
        top: 12px;
        right: 14px;
        @include mobile(){
            display: block;
            cursor: pointer;
        }
        .ham-style{
            color: $white;
            font-size: $fs42;

            font-variation-settings: 'wght'500, 'opsz'42;
            padding: 10px 0;
        }
    }
}



.footer{
    background-color: $primary;
    color: $white;
    .container{
        flex-direction: column;
        padding-top: 48px;
        @include pad(){
            padding: 48px 36px 0 36px;
        }
        @include mobile(){
            padding: 24px 14px;
            .mb32{
                // 這個的位置要注意！很容易寫去.contact裡面
                margin-bottom: 24px;
            }
        }
    }
    a{
        color: $white;
    }
    .contact{
        display: flex;
        justify-content: space-between;
    }
    .footer-nav-list{
        display: flex;
        a{
            display: block;
            padding: 12px 0;
            margin-right: 48px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            &:hover{
                background-color: $secondary;
            }
        }
        @include mobile(){
            display: none;
        }
    }
    .contact-list{
        li{
            display: flex;
            align-items: center;
        }
        .icon-style2{
            font-size: 36px;
            font-variation-settings: 'wght'700, 'opsz'36;
            @include mobile(){
                font-size: 20px;
                font-variation-settings: 'wght'400, 'opsz'20;
                margin-right: 10px;
    
            }
        }
        a{
            font-size: 36px;
            line-height: 54px;
            @include mobile(){
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    .sns-list{
        display: flex;
        gap: 0 32px;
        @include pad(){
            gap: 0 16px;
        }
        @include mobile(){
            gap: 0 8px;
        }
        img{
            display: block;
            height: 48px;
            
            @include pad(){
                height: 40px;
            }
            @include mobile(){
                height: 24px;
            }
        }
    }
    .legal{
        border-top: 1px solid $white;
        padding: 32px 0;
        display: flex;
        justify-content: space-between;
        p{
            @include mobile(){
                margin-bottom: 8px;
            }
        }
        .legal-list{
            display: flex;
            li{
                margin-left: 48px;
                @include mobile(){
                    margin-left: 0;
                }
            }
            a{
                display: block;
            }
            @include mobile(){
                flex-direction: column;
                gap: 8px 0;
            }
        }
        @include pad(){
            padding: 32px 0 40px 0;
        }
        @include mobile(){
            padding: 16px 0 0 0;
            flex-direction: column;  
        }
    }
}