
.location{
    .container{
        flex-direction: column;
        padding: 96px 12px 80px 12px;
        @include pad(){
            padding: 96px 36px;
        }
        @include mobile(){
            padding: 40px 14px;
        }
    }
    .select-area{
        font-size: $fs24;
        display: flex;
        margin-bottom: 40px;
        @include mobile(){
            font-size: $fs16;
            margin-bottom: 24px;
        }
        .select-style{
            font-size: $fs18;
            width: 24%;
        }
    }
    .location-list{
        display: flex;
        flex-wrap: wrap;
        gap: 48px 24px;
        @include pad(){
            gap: 24px 24px;
        }
        @include mobile(){
            flex-direction: column;
            gap: 24px 0;
        }
    }
    .location-card{
        // 需要特別留心空格跟括號！
        width: calc((100% - 48px)/3);
        @include pad(){
            width: calc((100% - 24px)/2);
        }@include mobile(){
            width: 100%;
        }
    } 
    
}

.store-name{
    font-size: $fs24;
    padding: 8px 0 8px 24px;
    border: 1px solid lightgrey;
}
.store-info{
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    font-size: $fs20;
    height: 168px;
    border: 1px solid lightgrey;
    li{
        display: flex;
        align-items: center;
    }
}
.icon-style3{
    font-size: 20px;
    margin-right: 8px;
}
.store-link{
    display: block;
    padding: 16px 0;
    text-align: center;
    color: $white;
    background-color: $dark;
    font-size: 19px;
    line-height: 27px;
    &:hover{
        background-color: $secondary;
    }
}
// 全站通用選擇器在_layout.scss
