@import "variable";

.location{
    .container{
        flex-direction: column;
        padding: 96px 0 80px 0;
        @include pad(){
            padding: 96px 36px;
        }
        @include mobile(){
            padding: 40px 14px;
        }
    }
    .select-area{
        font-size: $fs24;
        display: flex;
        margin-bottom: 40px;
        @include mobile(){
            font-size: $fs16;
            margin-bottom: 24px;
        }
        .select-style{
            font-size: $fs18;
            width: 24%;
        }
         @include mobile(){
            
        }
    }
    .location-list{
        display: flex;
        flex-wrap: wrap;
        gap: 48px 24px;
        @include pad(){
            gap: 24px 24px;
        }
        @include mobile(){
            flex-direction: column;
            gap: 24px 0;
        }
    }
    .location-card{
        width: 32.1%;
        @include pad(){
            width: 48.3%;
        }@include mobile(){
            width: 100%;
        }
        img{
            display: block;            
        }
        .store-name{
            font-size: $fs24;
            padding: 8px 0 8px 24px;
            border: 1px solid lightgrey;
        }
        .store-info{
            padding: 16px 24px;
            display: flex;
            flex-direction: column;
            gap: 8px 0;
            font-size: $fs20;
            height: 168px;
            border: 1px solid lightgrey;
            li{
                display: flex;
                align-items: center;
            }
        }
        .icon-style3{
            font-size: 20px;
            margin-right: 8px;
        }
        a{
            display: block;
            padding: 16px 0;
            text-align: center;
            color: $white;
            background-color: $dark;
            font-size: 19px;
            line-height: 27px;
            &:hover{
                background-color: $secondary;
            }
        }
    } 
    
}

// 通用選擇器
.title2{
    font-size: $fs48;
    font-weight: 700;
    border-left: 8px solid $primary;
    padding-left: 15px;
    margin-bottom: 32px;
    @include mobile(){
        font-size: $fs24;
        margin-bottom: 24px;
    }
}