@import "variable";
@import "reset";

// page
@import "layout";
@import "index";
// *{
//   outline: 1px solid #000;
// }
body {
  font-family: "Roboto","Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.container{
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
}