.pt12 {
  padding-top: 12px; }

.pt48 {
  padding-top: 48px; }

.p16 {
  padding: 16px; }

.px32 {
  padding: 32px 0; }

.pb12 {
  padding-bottom: 12px; }

.pb100 {
  padding-bottom: 100px; }

.mr4 {
  margin-right: 4px; }

.mr16 {
  margin-right: 16px; }

.mr22 {
  margin-right: 22px; }

.mb4 {
  margin-bottom: 4px; }

.mb8 {
  margin-bottom: 8px; }

.mb16 {
  margin-bottom: 16px; }

.mb24 {
  margin-bottom: 24px; }

.mb32 {
  margin-bottom: 32px; }

.mb36 {
  margin-bottom: 36px; }

.mb48 {
  margin-bottom: 48px; }

.mb80 {
  margin-bottom: 80px; }

.my16 {
  margin: 16px 0; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
list, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, list, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  max-width: 1320px;
  padding: 80px 12px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  @media (max-width: 992px) {
    .container {
      padding: 80px 36px; } }
  @media (max-width: 766px) {
    .container {
      padding: 40px 14px; } }

.header {
  background-color: #AA0601; }
  .header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 12px; }
    @media (max-width: 992px) {
      .header .container {
        padding: 0 36px; } }
    @media (max-width: 766px) {
      .header .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding: 0; } }

.logo {
  display: block;
  width: 80px;
  height: 50px;
  background-image: url(../images/logo-new_@2x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden; }
  @media (max-width: 766px) {
    .logo {
      width: 100%; } }

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 766px) {
    .nav-list li {
      width: 50%;
      border: 1px solid #fff; } }
  .nav-list a {
    display: block;
    color: #fff;
    font-size: 20px;
    padding: 10px 0 10px 0;
    margin-left: 64px; }
    .nav-list a:hover {
      background-color: #650300; }
    @media (max-width: 766px) {
      .nav-list a {
        width: 100%;
        margin-left: 0;
        text-align: center;
        font-size: 16px; } }

.footer {
  background-color: #AA0601;
  color: #fff; }
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 48px; }
    @media (max-width: 992px) {
      .footer .container {
        padding: 48px 36px 0 36px; } }
    @media (max-width: 766px) {
      .footer .container {
        padding: 24px 14px; }
        .footer .container .mb32 {
          margin-bottom: 24px; } }
  .footer a {
    color: #fff; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-nav-list a {
    display: block;
    padding: 12px 0;
    margin-right: 48px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400; }
    .footer-nav-list a:hover {
      background-color: #650300; }
  @media (max-width: 766px) {
    .footer-nav-list {
      display: none; } }

.contact-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.contact-list .icon-style2 {
  font-size: 36px;
  font-variation-settings: "wght" 700, "opsz" 36; }
  @media (max-width: 766px) {
    .contact-list .icon-style2 {
      font-size: 20px;
      font-variation-settings: "wght" 400, "opsz" 20;
      margin-right: 10px; } }

.contact-list a {
  font-size: 36px;
  line-height: 54px; }
  @media (max-width: 766px) {
    .contact-list a {
      font-size: 16px;
      line-height: 24px; } }

.sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 32px; }
  @media (max-width: 992px) {
    .sns-list {
      gap: 0 16px; } }
  @media (max-width: 766px) {
    .sns-list {
      gap: 0 8px; } }
  .sns-list img {
    display: block;
    height: 48px; }
    @media (max-width: 992px) {
      .sns-list img {
        height: 40px; } }
    @media (max-width: 766px) {
      .sns-list img {
        height: 24px; } }

.legal {
  border-top: 1px solid #fff;
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 766px) {
    .legal p {
      margin-bottom: 8px; } }
  .legal .legal-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .legal .legal-list li {
      margin-left: 48px; }
      @media (max-width: 766px) {
        .legal .legal-list li {
          margin-left: 0; } }
    .legal .legal-list a {
      display: block; }
    @media (max-width: 766px) {
      .legal .legal-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 8px 0; } }
  @media (max-width: 992px) {
    .legal {
      padding: 32px 0 40px 0; } }
  @media (max-width: 766px) {
    .legal {
      padding: 16px 0 0 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.banner {
  background-image: url(../images/home-header.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: calc(100vh - 80px); }
  @media (max-width: 992px) {
    .banner {
      background-image: url(../images/home-header-sm.png); } }
  @media (max-width: 766px) {
    .banner {
      height: calc(100vh - 174px); } }
  .banner .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 0 12px;
    height: calc(100vh - 80px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #650300; }
    @media (max-width: 992px) {
      .banner .container {
        height: calc(100vh - 80px);
        padding: 0 36px; } }
    @media (max-width: 766px) {
      .banner .container {
        padding: 0 14px;
        height: calc(100vh - 174px); } }
    .banner .container a {
      display: block;
      color: #fff;
      background-color: #AA0601;
      padding: 6px 12px; }
  .banner .subtitle {
    font-size: 36px; }
    @media (max-width: 766px) {
      .banner .subtitle {
        font-size: 16px; } }
  .banner .slogan {
    font-size: 64px;
    font-weight: 700; }
    @media (max-width: 766px) {
      .banner .slogan {
        font-size: 24px;
        margin-bottom: 8px; } }

.feature {
  background-color: #FBF2F2; }
  .feature .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 24px; }
    @media (max-width: 992px) {
      .feature-list {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 24px 24px; } }
  .feature-list-card {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 992px) {
      .feature-list-card {
        width: 48%; } }
    @media (max-width: 766px) {
      .feature-list-card {
        width: 100%; } }
  .feature .icon-style {
    font-size: 84px;
    color: #650300;
    font-variation-settings: "wght" 700, "opsz" 48; }
  .feature .feature-title {
    font-size: 24px;
    font-weight: 700;
    color: #650300; }

.series-classic .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.series-classic .classic-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 992px) {
    .series-classic .classic-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 24px 0; } }
  @media (max-width: 766px) {
    .series-classic .classic-list {
      width: 100%; } }
  .series-classic .classic-list li {
    width: 32%; }
    @media (max-width: 992px) {
      .series-classic .classic-list li {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media (max-width: 766px) {
      .series-classic .classic-list li {
        width: 100%; } }
  .series-classic .classic-list img {
    display: block; }

.series-cobranding {
  background-image: url(../images/index-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .series-cobranding .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .series-cobranding .container .title {
      color: #fff; }
  .series-cobranding .cobranding-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 992px) {
      .series-cobranding .cobranding-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 24px 0; } }
    .series-cobranding .cobranding-list li {
      background-color: #fff; }
    .series-cobranding .cobranding-list img {
      display: block; }

.review .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.review-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 24px; }
  @media (max-width: 992px) {
    .review-list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      gap: 24px 24px; } }
  @media (max-width: 766px) {
    .review-list {
      gap: 24px 0; } }
  .review-list img {
    display: block; }

.review-card {
  /*box-shadow: offset-x | offset-y | blur-radius | spread-radius | color */
  -webkit-box-shadow: 2px 2px 4px 1px lightgrey;
          box-shadow: 2px 2px 4px 1px lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 992px) {
    .review-card {
      width: 48%; } }
  @media (max-width: 766px) {
    .review-card {
      width: 100%; } }

.review-content {
  height: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.review .date {
  color: #707070;
  font-size: 14px;
  line-height: 21px; }

.message {
  background-color: #FBF2F2; }
  .message .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 56%; }
    @media (max-width: 992px) {
      .message .container {
        padding: 80px 0;
        width: 70.4%; } }
    @media (max-width: 766px) {
      .message .container {
        padding: 40px 14px;
        width: 100%; } }
  .message .title {
    margin-bottom: 24px; }
  .message p {
    font-size: 20px; }
    @media (max-width: 992px) {
      .message p {
        font-size: 16px; } }
  .message lable {
    margin-bottom: 8px; }
  .message input {
    width: 100%;
    background-color: #FBF2F2;
    border: 1px solid #000;
    padding: 6px 12px;
    margin-bottom: 16px; }
    .message input::-webkit-input-placeholder {
      opacity: 0.5; }
    .message input::-moz-placeholder {
      opacity: 0.5; }
    .message input:-ms-input-placeholder {
      opacity: 0.5; }
    .message input::-ms-input-placeholder {
      opacity: 0.5; }
    .message input::placeholder {
      opacity: 0.5; }
    .message input[name=msg] {
      padding-bottom: 100px; }
    .message input[type=checkbox] {
      margin: 0;
      width: 2%;
      margin-right: 8px; }
    .message input[type=submit] {
      display: block;
      width: 60%;
      background-color: #AA0601;
      color: #fff;
      padding: 16px 0;
      margin: 0 auto; }
      .message input[type=submit]:hover {
        background-color: #650300; }
      @media (max-width: 766px) {
        .message input[type=submit] {
          width: 100%; } }

.title {
  font-size: 48px;
  font-weight: 700;
  color: #650300;
  text-align: center;
  margin-bottom: 48px; }
  @media (max-width: 766px) {
    .title {
      font-size: 24px;
      margin-bottom: 24px; } }

.series-name {
  font-size: 48px;
  font-weight: 900;
  color: #AA0601;
  font-style: italic;
  text-align: center; }
  @media (max-width: 766px) {
    .series-name {
      font-size: 24px; } }

.menu .series-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu .series-list li {
    width: 33.3%;
    border-right: 1px solid lightgrey; }
  .menu .series-list .series-1 {
    border-left: 1px solid lightgrey; }
    .menu .series-list .series-1 a {
      border-bottom: 8px solid #AA0601; }
  .menu .series-list a {
    display: block;
    text-align: center;
    font-size: 32px;
    line-height: 48px;
    color: #000;
    font-weight: 500;
    padding: 24px 0 16px 0;
    border-bottom: 8px solid transparent; }
    .menu .series-list a:hover {
      border-bottom: 8px solid #AA0601; }
    .menu .series-list a:focus {
      border-bottom: 8px solid #AA0601; }
    @media (max-width: 766px) {
      .menu .series-list a {
        font-size: 16px;
        line-height: 24px;
        padding: 16px 0 8px 0; } }

.pt12 {
  padding-top: 12px; }

.pt48 {
  padding-top: 48px; }

.p16 {
  padding: 16px; }

.px32 {
  padding: 32px 0; }

.pb12 {
  padding-bottom: 12px; }

.pb100 {
  padding-bottom: 100px; }

.mr4 {
  margin-right: 4px; }

.mr16 {
  margin-right: 16px; }

.mr22 {
  margin-right: 22px; }

.mb4 {
  margin-bottom: 4px; }

.mb8 {
  margin-bottom: 8px; }

.mb16 {
  margin-bottom: 16px; }

.mb24 {
  margin-bottom: 24px; }

.mb32 {
  margin-bottom: 32px; }

.mb36 {
  margin-bottom: 36px; }

.mb48 {
  margin-bottom: 48px; }

.mb80 {
  margin-bottom: 80px; }

.my16 {
  margin: 16px 0; }

.series-banner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.series-banner img {
  display: block; }

.optical-body .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 80px 0; }
  @media (max-width: 992px) {
    .optical-body .container {
      padding: 80px 36px; } }
  @media (max-width: 766px) {
    .optical-body .container {
      padding: 40px 14px; } }

.optical-body .optical-title {
  font-size: 36.24px;
  font-weight: 500; }
  @media (max-width: 766px) {
    .optical-body .optical-title {
      font-size: 24px; } }

.optical-body .optical-subtitle {
  font-size: 32px;
  font-weight: 400; }
  @media (max-width: 766px) {
    .optical-body .optical-subtitle {
      font-size: 24px; } }

.optical-body .optical-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 80px 24px; }
  @media (max-width: 992px) {
    .optical-body .optical-product {
      gap: 40px 24px; } }
  @media (max-width: 766px) {
    .optical-body .optical-product {
      gap: 24px 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .optical-body .optical-product li {
    width: 23.6%;
    font-size: 24px;
    font-weight: 400; }
    @media (max-width: 992px) {
      .optical-body .optical-product li {
        width: 48.3%; } }
    @media (max-width: 766px) {
      .optical-body .optical-product li {
        width: 100%; } }
  .optical-body .optical-product .product-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .optical-body .optical-product .price {
    color: #AA0601;
    font-weight: 500; }
  .optical-body .optical-product a {
    color: #000; }
  .optical-body .optical-product img {
    display: block; }

.optical-body .color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 8px; }
  .optical-body .color .brown, .optical-body .color .red {
    width: 24px;
    height: 24px;
    border-radius: 8px; }
  .optical-body .color .brown {
    background-color: #650300; }
  .optical-body .color .red {
    background-color: #AA0601; }

.optical-body .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .optical-body .pagination .last-page, .optical-body .pagination .next-page {
    padding: 12px;
    border: 1px solid #000; }
  .optical-body .pagination .page {
    padding: 12px 16px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000; }
  .optical-body .pagination :nth-child(6) {
    border-right: 0; }
  .optical-body .pagination a {
    display: block;
    color: #000;
    font-size: 19px;
    line-height: 29px; }
    .optical-body .pagination a:hover {
      color: #fff;
      background-color: #555555; }
    @media (max-width: 766px) {
      .optical-body .pagination a {
        font-size: 16px;
        line-height: 26px; } }

.pt12 {
  padding-top: 12px; }

.pt48 {
  padding-top: 48px; }

.p16 {
  padding: 16px; }

.px32 {
  padding: 32px 0; }

.pb12 {
  padding-bottom: 12px; }

.pb100 {
  padding-bottom: 100px; }

.mr4 {
  margin-right: 4px; }

.mr16 {
  margin-right: 16px; }

.mr22 {
  margin-right: 22px; }

.mb4 {
  margin-bottom: 4px; }

.mb8 {
  margin-bottom: 8px; }

.mb16 {
  margin-bottom: 16px; }

.mb24 {
  margin-bottom: 24px; }

.mb32 {
  margin-bottom: 32px; }

.mb36 {
  margin-bottom: 36px; }

.mb48 {
  margin-bottom: 48px; }

.mb80 {
  margin-bottom: 80px; }

.my16 {
  margin: 16px 0; }

.location .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 96px 0 80px 0; }
  @media (max-width: 992px) {
    .location .container {
      padding: 96px 36px; } }
  @media (max-width: 766px) {
    .location .container {
      padding: 40px 14px; } }

.location .select-area {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px; }
  @media (max-width: 766px) {
    .location .select-area {
      font-size: 16px;
      margin-bottom: 24px; } }
  .location .select-area .select-style {
    font-size: 18px;
    width: 24%; }

.location .location-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 48px 24px; }
  @media (max-width: 992px) {
    .location .location-list {
      gap: 24px 24px; } }
  @media (max-width: 766px) {
    .location .location-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 24px 0; } }

.location .location-card {
  width: 32.1%; }
  @media (max-width: 992px) {
    .location .location-card {
      width: 48.3%; } }
  @media (max-width: 766px) {
    .location .location-card {
      width: 100%; } }
  .location .location-card img {
    display: block; }
  .location .location-card .store-name {
    font-size: 24px;
    padding: 8px 0 8px 24px;
    border: 1px solid lightgrey; }
  .location .location-card .store-info {
    padding: 16px 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px 0;
    font-size: 20px;
    height: 168px;
    border: 1px solid lightgrey; }
    .location .location-card .store-info li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .location .location-card .icon-style3 {
    font-size: 20px;
    margin-right: 8px; }
  .location .location-card a {
    display: block;
    padding: 16px 0;
    text-align: center;
    color: #fff;
    background-color: #000;
    font-size: 19px;
    line-height: 27px; }
    .location .location-card a:hover {
      background-color: #650300; }

.title2 {
  font-size: 48px;
  font-weight: 700;
  border-left: 8px solid #AA0601;
  padding-left: 15px;
  margin-bottom: 32px; }
  @media (max-width: 766px) {
    .title2 {
      font-size: 24px;
      margin-bottom: 24px; } }

body {
  font-family: "Roboto","Noto Sans TC", sans-serif;
  line-height: 1.5;
  font-weight: 400; }

/*# sourceMappingURL=all.css.map */
