h2 {
  font-size: 64px;
  line-height: 96px;
  font-weight: 700; }

h3 {
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  text-align: center;
  color: #650300; }

h4 {
  font-size: 36px;
  line-height: 54px;
  font-weight: 400; }

h5 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #650300; }

h6 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400; }

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400; }

.pt12 {
  padding-top: 12px; }

.pt48 {
  padding-top: 48px; }

.p16 {
  padding: 16px; }

.px32 {
  padding: 32px 0; }

.pb12 {
  padding-bottom: 12px; }

.pb100 {
  padding-bottom: 100px; }

.mr4 {
  margin-right: 4px; }

.mr22 {
  margin-right: 22px; }

.mb4 {
  margin-bottom: 4px; }

.mb8 {
  margin-bottom: 8px; }

.mb16 {
  margin-bottom: 16px; }

.mb24 {
  margin-bottom: 24px; }

.mb32 {
  margin-bottom: 32px; }

.mb36 {
  margin-bottom: 36px; }

.mb48 {
  margin-bottom: 48px; }

.my16 {
  margin: 16px 0; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
list, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, list, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.header {
  background-color: #AA0601; }
  .header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 992px) {
      .header .container {
        padding: 0 36px; } }
    @media (max-width: 766px) {
      .header .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding: 0; } }

.logo {
  display: block;
  width: 80px;
  height: 50px;
  background-image: url(../images/logo-new_@2x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden; }
  @media (max-width: 766px) {
    .logo {
      width: 100%; } }

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 766px) {
    .nav-list li {
      width: 50%;
      border: 1px solid #fff; } }
  .nav-list a {
    display: block;
    color: #fff;
    padding: 10px 0 10px 0;
    margin-left: 64px; }
    .nav-list a:hover {
      background-color: #650300; }
    @media (max-width: 766px) {
      .nav-list a {
        width: 100%;
        margin-left: 0;
        text-align: center; } }

.footer {
  background-color: #AA0601;
  color: #fff; }
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 48px; }
    @media (max-width: 992px) {
      .footer .container {
        padding: 48px 36px 0 36px; } }
    @media (max-width: 766px) {
      .footer .container {
        padding: 24px 14px; } }
  .footer a {
    color: #fff; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 766px) {
    .contact {
      margin-bottom: 24px; } }

.footer-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-nav-list a {
    display: block;
    padding: 12px 0;
    margin-right: 48px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400; }
    .footer-nav-list a:hover {
      background-color: #650300; }
  @media (max-width: 766px) {
    .footer-nav-list {
      display: none; } }

.contact-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.contact-list .icon-style2 {
  font-size: 36px;
  font-variation-settings: "wght" 700, "opsz" 36; }
  @media (max-width: 766px) {
    .contact-list .icon-style2 {
      font-size: 20px;
      font-variation-settings: "wght" 400, "opsz" 20; } }

.contact-list a {
  font-size: 36px;
  line-height: 54px; }
  @media (max-width: 766px) {
    .contact-list a {
      font-size: 16px;
      line-height: 24px; } }

.sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 32px; }
  @media (max-width: 992px) {
    .sns-list {
      gap: 0 16px; } }
  .sns-list img {
    display: block;
    height: 48px; }
    @media (max-width: 992px) {
      .sns-list img {
        height: 40px; } }
    @media (max-width: 766px) {
      .sns-list img {
        height: 24px;
        margin-left: 8px; } }

.legal {
  border-top: 1px solid #fff;
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 766px) {
    .legal p {
      margin-bottom: 8px; } }
  .legal .legal-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .legal .legal-list li {
      margin-left: 48px; }
      @media (max-width: 766px) {
        .legal .legal-list li {
          margin-left: 0; } }
    .legal .legal-list a {
      display: block; }
    @media (max-width: 766px) {
      .legal .legal-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 8px 0; } }
  @media (max-width: 992px) {
    .legal {
      padding: 32px 0 40px 0; } }
  @media (max-width: 766px) {
    .legal {
      padding: 16px 0 0 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

h2 {
  font-size: 64px;
  line-height: 96px;
  font-weight: 700; }

h3 {
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  text-align: center;
  color: #650300; }

h4 {
  font-size: 36px;
  line-height: 54px;
  font-weight: 400; }

h5 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #650300; }

h6 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400; }

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400; }

.pt12 {
  padding-top: 12px; }

.pt48 {
  padding-top: 48px; }

.p16 {
  padding: 16px; }

.px32 {
  padding: 32px 0; }

.pb12 {
  padding-bottom: 12px; }

.pb100 {
  padding-bottom: 100px; }

.mr4 {
  margin-right: 4px; }

.mr22 {
  margin-right: 22px; }

.mb4 {
  margin-bottom: 4px; }

.mb8 {
  margin-bottom: 8px; }

.mb16 {
  margin-bottom: 16px; }

.mb24 {
  margin-bottom: 24px; }

.mb32 {
  margin-bottom: 32px; }

.mb36 {
  margin-bottom: 36px; }

.mb48 {
  margin-bottom: 48px; }

.my16 {
  margin: 16px 0; }

.banner {
  background-image: url(../images/home-header.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: calc(100vh - 80px); }
  @media (max-width: 992px) {
    .banner {
      background-image: url(../images/home-header-sm.png); } }
  @media (max-width: 766px) {
    .banner {
      height: calc(100vh - 174px); } }
  .banner .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: calc(100vh - 80px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #650300; }
    @media (max-width: 992px) {
      .banner .container {
        height: calc(100vh - 80px);
        padding: 0 36px; } }
    @media (max-width: 766px) {
      .banner .container {
        padding: 0 14px;
        height: calc(100vh - 174px); } }
    .banner .container a {
      display: block;
      color: #fff;
      background-color: #AA0601;
      padding: 6px 12px; }
  @media (max-width: 766px) {
    .banner h4 {
      font-size: 16px;
      line-height: 24px; } }
  @media (max-width: 766px) {
    .banner h2 {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 8px; } }

.feature {
  background-color: #FBF2F2; }
  .feature .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 80px 0; }
    @media (max-width: 992px) {
      .feature .container {
        padding: 80px 36px; } }
    @media (max-width: 766px) {
      .feature .container {
        padding: 40px 14px; } }
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 24px; }
    @media (max-width: 992px) {
      .feature-list {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 24px 24px; } }
  .feature-list-card {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 992px) {
      .feature-list-card {
        width: 48%; } }
    @media (max-width: 766px) {
      .feature-list-card {
        width: 100%; } }
  @media (max-width: 766px) {
    .feature h3 {
      font-size: 24px;
      line-height: 36px; } }
  .feature .icon-style {
    font-size: 84px;
    color: #650300; }

.series-classic .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 0; }
  @media (max-width: 766px) {
    .series-classic .container {
      padding: 40px 14px; } }

@media (max-width: 766px) {
  .series-classic h3 {
    font-size: 24px;
    line-height: 36px; } }

.series-classic .classic-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 992px) {
    .series-classic .classic-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 24px 0; } }
  .series-classic .classic-list li {
    width: 32%; }
    @media (max-width: 992px) {
      .series-classic .classic-list li {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media (max-width: 766px) {
      .series-classic .classic-list li {
        width: 100%; } }
  .series-classic .classic-list img {
    display: block; }
    @media (max-width: 992px) {
      .series-classic .classic-list img {
        width: 316px; } }
    @media (max-width: 766px) {
      .series-classic .classic-list img {
        width: 348px; } }
  .series-classic .classic-list h3 {
    color: #AA0601;
    font-style: italic; }

.series-cobranding {
  background-image: url(../images/index-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .series-cobranding .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 80px 0; }
    @media (max-width: 992px) {
      .series-cobranding .container {
        padding: 80px 36px; } }
    @media (max-width: 766px) {
      .series-cobranding .container {
        padding: 40px 14px; } }
  .series-cobranding h3 {
    color: #fff; }
    @media (max-width: 766px) {
      .series-cobranding h3 {
        font-size: 24px;
        line-height: 36px; } }
    @media (max-width: 766px) {
      .series-cobranding h3 {
        margin-bottom: 24px; } }
  .series-cobranding .cobranding-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 992px) {
      .series-cobranding .cobranding-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 24px 0; } }
    .series-cobranding .cobranding-list li {
      background-color: #fff; }
    .series-cobranding .cobranding-list img {
      display: block; }
    .series-cobranding .cobranding-list h3 {
      color: #AA0601;
      font-style: italic; }

.review .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 0; }
  @media (max-width: 992px) {
    .review .container {
      padding: 80px 36px; } }
  @media (max-width: 766px) {
    .review .container {
      padding: 40px 16px; } }

@media (max-width: 766px) {
  .review h3 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px; } }

.review-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 24px; }
  @media (max-width: 992px) {
    .review-list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      gap: 24px 24px; } }
  @media (max-width: 766px) {
    .review-list {
      gap: 24px 0; } }
  .review-list img {
    display: block; }

.review-card {
  /*box-shadow: offset-x | offset-y | blur-radius | spread-radius | color */
  -webkit-box-shadow: 2px 2px 4px 1px lightgrey;
          box-shadow: 2px 2px 4px 1px lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 992px) {
    .review-card {
      width: 48%; } }
  @media (max-width: 766px) {
    .review-card {
      width: 100%; } }

.review-content {
  height: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.review .date {
  color: #707070;
  font-size: 14px;
  line-height: 21px; }

.message {
  background-color: #FBF2F2; }
  .message .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 36%;
    padding: 80px 0; }
    @media (max-width: 992px) {
      .message .container {
        padding: 80px 0;
        width: 70.4%; } }
    @media (max-width: 766px) {
      .message .container {
        padding: 40px 14px;
        width: 100%; } }
  @media (max-width: 992px) {
    .message h3 {
      margin-bottom: 24px; } }
  @media (max-width: 766px) {
    .message h3 {
      font-size: 24px;
      line-height: 36px; } }
  @media (max-width: 992px) {
    .message h6 {
      font-size: 16px;
      line-height: 24px; } }
  .message lable {
    margin-bottom: 8px; }
  .message input {
    width: 100%;
    background-color: #FBF2F2;
    border: 1px solid #000;
    padding: 6px 12px;
    margin-bottom: 16px; }
    .message input::-webkit-input-placeholder {
      opacity: 0.5; }
    .message input::-moz-placeholder {
      opacity: 0.5; }
    .message input:-ms-input-placeholder {
      opacity: 0.5; }
    .message input::-ms-input-placeholder {
      opacity: 0.5; }
    .message input::placeholder {
      opacity: 0.5; }
    .message input[name=msg] {
      padding-bottom: 100px; }
    .message input[type=checkbox] {
      margin: 0;
      width: 2%;
      margin-right: 8px; }
    .message input[type=submit] {
      display: block;
      width: 60%;
      background-color: #AA0601;
      color: #fff;
      padding: 16px 0;
      margin: 0 auto; }
      .message input[type=submit]:hover {
        background-color: #650300; }
      @media (max-width: 766px) {
        .message input[type=submit] {
          width: 100%; } }

* {
  outline: 1px solid #000; }

body {
  font-family: "Roboto","Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/*# sourceMappingURL=all.css.map */
